<!doctype html>
<html lang="en">
   <head>
      <style>
        body {
          background-image: url('/static/background.jpg');
        }
    </style> 
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <title>Clinical Diabetes Support</title>
      <link rel="icon" type="image/png" href="/static/logo.png"/>
   </head>

   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="#">Clinical Diabetes Support <img src="/static/logo.png" id="logo"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="predict">Predict<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="database">Database</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="aboutme">About Me</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"></a>
            </li>
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
         </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
         <div class="container">
            <h1>Please enter the patients information.</h1>
            <br><br>
            <form method="POST", action="{{url_for('predict')}}">
              <div class="form-group row">
                <label for="firstInput" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="string" class="form-control" name="firstInput" value="Jane">
                </div>
              </div>
              <div class="form-group row">
                <label for="lastInput" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="string" class="form-control" name="lastInput" value="Doe">
                </div>
              </div>
               <div class="form-group row">
                 <label for="ageInput" class="col-sm-2 col-form-label">Age</label>
                 <div class="col-sm-10">
                   <input type="number" class="form-control" name="ageInput" min=0 max=150 value=0>
                 </div>
               </div>
               <div class="form-group row">
                  <label for="pregnancyInput" class="col-sm-2 col-form-label"># of Pregnancies</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="pregnancyInput" min=0 max=100 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="glucoseInput" class="col-sm-2 col-form-label">Glucose Level</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="glucoseInput" min=0 max=1000 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="bpInput" class="col-sm-2 col-form-label">Blood Pressure</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="bpInput" min=0 max=200 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="stInput" class="col-sm-2 col-form-label">Skin Thickness</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="stInput" min=0 max=200 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="insulinInput" class="col-sm-2 col-form-label">Insulin Level</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="insulinInput" min=0 max=1000 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="bmiInput" class="col-sm-2 col-form-label">BMI</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="bmiInput" step=0.1 min=0 max=100 value=0>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="dpInput" class="col-sm-2 col-form-label">Diabetes Pedigree</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="dpInput" step=0.001 min=0 max=1 value=0>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
             </form>
         </div>
       </div>
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>

